$event-list-spacing: 2rem;
$event-list-spacing--secondary: 1.2rem;

.event-list {
  @include container-fixed();
  max-width: 1170px;

  &__description {
    font-style: italic;
    margin-bottom: $event-list-spacing;
  }
}

.event-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $event-list-spacing;
  padding-bottom: $event-list-spacing;

  .event-list--secondary & {
    margin-bottom: $event-list-spacing--secondary;
    padding-bottom: $event-list-spacing--secondary;
  }

  &__title {
    margin-top: 0;
  }

  &__description {
    margin-bottom: 0;
  }

  &:not(:last-child) {
    border-bottom: 1px solid lightgrey;
  }
}
