/**
 * Maps Bootstrap to the native SilverStripe Form class structure;
 * Might want to replace with some hand-written HTML in the future.
 */

#Form_CreateEventForm {
  input[type=text] {
    @extend .form-control;
  }

  .field {
    margin-bottom: 1rem;
  }

  .fieldholder-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .field {
      margin-bottom: 0;
    }
  }

  .fieldholder-small-label {
    min-width: 50px;
  }

  .date,
  .time {
    width: 45%;
  }

  .checkbox input[type="checkbox"] {
    margin-left: 0;
  }

  textarea {
    width: 100%;
  }

  trix-editor {
    min-height: 20em;
  }

  .trix-button-group {
    margin-bottom: 5px;
  }
}
